 <div class="inspo col-sm text-center text-uppercase mt-4">
    <h1 class="text-center">NEED INSPO?</h1>
    <div class="container text-left mt-3">
        <button type="button" id="twitter" class="btn btn-block">SEARCH WITH TWITTER</button>
        <ul id="inspoDisplay">
            <li>
                Trending Hashtags will appear here.
            </li>
            <li>
                Results may take a few seconds.
            </li>
        </ul>
    </div>
</div>