 <div class="col-sm text-center text-uppercase">
    <h2 class="gold text-uppercase">NEED INSPO?</h2>
    <div class="container text-left red">
        <button type="button" id="twitter" class="btn btn-block">SEARCH WITH TWITTER</button>
        <ul id="inspoDisplay">
            <li class="inspoDisplayLi">
                Trending Hashtags will appear here.
            </li>
            <li>
                Results may take a few seconds.
            </li>
        </ul>
    </div>
</div>