<div class="inspo col-sm text-center text-uppercase mt-4">
    <h1 class="text-center">NEED INSPO?</h1>
    <div class="container text-left mt-3">
        <button type="button" class="btn btn-block">SEARCH WITH TWITTER</button>
        <ul>
            <li>
                stuff
            </li>
            <li>
                and
            </li>
            <li>
                things
            </li>
        </ul>
    </div>
</div>