<div class="chapter my-3">
    <h4 class="text-center red"> Chapter: "{{chapter_title}}" </h4>
    <h5 class="text-center gold">Author: <a class='text-uppercase profile-link'
            href="/{{author.username}}">{{author.username}}</a>
    </h5>
    <p class="gold border-bottom pt-4"> {{chapter_text}}</p>
</div>