<div class="container mt-3">
    <div class="row">
        <div class="col-8">
            <div class="container">
                <div class="input-center row text-right mt-3">
                    <div class="col-6">
                        <h2 class="maroon text-uppercase">ADD CHAPTER</h1>
                    </div>
                    <div>
                        <a href="/dashboard/new-story"><button type="button" class="btn btn-block">START A NEW
                                STORY</button></a>
                    </div>
                </div>

                {{#each story.chapters}}
                <div class="pt-5 input-center">
                    <h4 class="text-left">PREVIOUS CHAPTER: "{{chapter_title}}" </h4>
                    <p class="text-left mb-5"> {{chapter_text}}</p>
                </div>
                {{/each}}
            </div>

            <div class="text-center">
                <a href="/read-story/{{story.id}}" class="btn mb-5">Read More</a>
            </div>
            {{>story-form}}
        </div>
        {{> need-inspo }}
    </div>
</div>

{{#if loggedIn}}
<script src="/javascript/add-chapter.js"></script>
{{/if}}