<div class="container mt-3">
    <div class="row d-flex">
        <div class="col-lg-3 text-left border-top justify-content-center">
            {{#each story.chapters}}
            {{>story-chapter}}
            {{/each}}
            <div class="text-center">
                <a href="/read-story/{{story.id}}" class="btn btn-block mb-5">Read More</a>
            </div>
        </div>
        <div class=" col-lg-5 justify-content-center">
            <div class="ml-5 mb-5">
                <div class="row justify-content-center">
                    <h1 class="maroon text-uppercase">ADD CHAPTER</h1>
                </div>
                <div class="row justify-content-center">
                    <h1 class="gold text-uppercase">| OR | </h1>
                    
                </div>
                <div class="row justify-content-center">
                    <a href="/dashboard/new-story">
                        <button type="button" class="btn btn-block">START A NEW STORY</button>
                    </a>
                </div>
            </div>
            {{>story-form}}
        </div>
        <div class="col-lg-4">
            {{> need-inspo }}
        </div>
    </div>
</div>

{{#if loggedIn}}
<script src="/javascript/add-chapter.js"></script>
{{/if}}