<div class="container mt-3">
    <div class="row">
        <div class="col-8">
            <div class="container">
                <h1 class="text-center new-story mb-5">ADD CHAPTER</h1>
                {{#each story.chapters}}
                <h4 class="text-left">PREVIOUS CHAPTER: "{{chapter_title}}" </h4>
                {{!-- <p class="text-left">{{author}}</p> --}}
                <p class="text-left mb-5"> {{chapter_text}}</p>
                {{/each}}

            </div>
            <form id='chapter-form'>
                <div class="form-group row">
                    <label for="chapter-title" class="col-sm-2 col-form-label">TITLE</label>
                    <div class="col-sm-10">
                        <input class="form-control" id='chapter-title'>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="chapter-text" class="col-sm-2 col-form-label">STORY TEXT</label>
                    <div class="col-sm-10">
                        <textarea name='chapter-text' id='chapter-text'></textarea>
                        <button type="submit" class="btn btn-block">CREATE STORY</button>
                    </div>
                </div>
            </form>
        </div>
        {{> need-inspo }}
    </div>
</div>

{{#if loggedIn}}
<script src="/javascript/add-chapter.js"></script>
{{/if}}