<div class="stories row mt-5 mx-5">
    <div class="all text-center">
        <h1>ALL STORIES</h1>
        <a href="/" class="btn home-btn mb-3">Return to Homepage</a>

        {{> stories }}

    </div>
</div>