<section class='dashboard container '>
    <div class="row d-flex text-center mt-3">
        <div class="col-md-6 border-right">
            <h1 class="gold text-uppercase border-bottom mb-5">Dashboard</h1>
            {{>profile-card}}
        </div>
        <div class="col-md-6">
            <h1 class="maroon text-uppercase border-bottom mb-5"> YOUR STORIES </h1>
            <a href="/dashboard/new-story"><button type="button" class="btn">START A NEW STORY</button></a>
            <div class="row d-flex justify-content-center">
                {{#each stories as |story|}}
                {{> story-card story}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-6 border-dark border-left text-center">
            <div class="container">
            </div>
        </div>
    </div>
</section>