<section class='dashboard container mt-5 pt-3 targeted'>
    <div class="row d-flex text-center mt-3">
        <div class="col-md-6 border-right">
            <h1 class="gold text-uppercase border-bottom mb-5">Dashboard</h1>
            <div class="pt-4">
                {{>profile-card}}
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="maroon text-uppercase dashboard-your"> YOUR STORIES </h1>
            <div class="py-2 row filter rounded">
                <form class="mx-sm-auto">
                    <a href="/dashboard/new-story"><button type="button" class="btn nav-btn my-sm-1">START A NEW STORY</button></a>
                    <div class="ml-1 btn-group dropdown my-sm-1">
                        <button type="button" id="story-filter" class="btn text-uppercase nav-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Stories</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><button data-value="all-stories" type="button" id="all-stories">All Stories</button></li>
                            <li><button data-value="open-stories" type="button" id="open-stories">Open Stories</button></li>
                            <li ><button data-value="completed-stories" type="button" id="closed-stories">Completed Stories</button></li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="row d-flex justify-content-center" id="filter">
                {{!-- {{#each stories as |story|}}
                {{> story-card story}}
                {{/each}} --}}
            </div>
        </div>
    </div>
</section>

<script src='/javascript/filter.js'></script>
