<section class='dashboard'>
    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class='h2 card-title list-group-item'>{{user.username}} </li>
                <li class='card-subtitle list-group-item'>{{user.email}}</li>
                <li class='h4 card-title list-group-item'>{{user.title}}</li>
                <li class="card-body list-group-item">{{user.bio}}</li>
            </ul>
        </div>
    </div>
</section>