<section class='dashboard container mt-5 pt-3 targeted'>
    <div class="row d-flex text-center mt-3">
        <div class="col-md-6 border-right">
            <h1 class="gold text-uppercase border-bottom mb-5">Dashboard</h1>
            {{>profile-card}}
        </div>
        <div class="col-md-6">
            <h1 class="maroon text-uppercase border-bottom mb-5"> YOUR STORIES </h1>
            <a href="/dashboard/new-story"><button type="button" class="btn">START A NEW STORY</button></a>
            <div class="story-wrap d-flex justify-content-center mt-3">
                {{#each stories as |story|}}
                <div class='card-wrap d-flex mt-3'>
                    {{> story-card story}}
                    <div class='edit-link'>
                        <a href="/dashboard/edit-story/{{id}}" class="edit-btn btn">Edit: {{story_title}}</a>
                    </div>
                    <div class='edit-link mt-2'>
                        <button class="delete-btn btn">Delete: {{story_title}}</button>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-6 border-dark border-left text-center">
            <div class="container">
            </div>
        </div>
    </div>
</section>