<div class="row targeted mt-5 pt-3">
    <div class="all col text-center">
        <h1 class="gold">ALL STORIES</h1>
        <a class='btn more' href="/all-stories">MORE STORIES</a>
        {{> stories }}
    </div>
    <div class="border-dark border-right"></div>
    <div class="open col text-center">
        <h1 class="maroon">OPEN STORIES</h1>
        <a class='btn more' href="/open-stories">MORE OPEN STORIES</a>
        {{> open-stories }}
    </div>
</div>