<div class="row mt-5 mx-5">
    <div class="all col-sm border-dark border-right text-center">
        <h1>ALL STORIES</h1>
        <div class="row">
            <div class="card mx-auto my-auto text-left">
                <img class="card-img-top" src="/src/book.png" alt="Story Image">
                <div class="card-body">
                    <h6 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="card mx-auto my-auto text-left">
                <img class="card-img-top" src="/src/book.png" alt="Story Image">
                <div class="card-body">
                    <h6 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="open col-sm border-dark border-right text-center">
        <h1>OPEN STORIES</h1>
        <div class="row">
            <div class="card mx-auto my-auto text-left">
                <img class="card-img-top" src="/src/book.png" alt="Story Image">
                <div class="card-body">
                    <h6 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn">Contribute Here</a>
                </div>
            </div>
            <div class="card mx-auto my-auto text-left">
                <img class="card-img-top" src="/src/book.png" alt="Story Image">
                <div class="card-body">
                    <h6 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn">Contribute Here</a>
                </div>
            </div>
        </div>
    </div>
    <div class="inspo col-sm text-center text-uppercase">
        <h1>NEED INSPO?</h1>
        <div class="container text-left mt-3">
            <button type="button" class="btn btn-block">SEARCH WITH TWITTER</button>
            <ul>
                <li>
                    stuff
                </li>
                <li>
                    and
                </li>
                <li>
                    things
                </li>
            </ul>
        </div>
    </div>
</div>