<div class="row mt-5 mx-5">
    <div class="col border-dark border-right text-center">
        <h2 class="gold text-uppercase">ALL STORIES</h1>
        <div class="row d-flex justify-content-center">
            {{#each stories as |story|}}
            {{#if completed}}
                {{> story-card story}}
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="col text-center">
        <h2 class="maroon text-uppercase">OPEN STORIES</h1>
        <div class="row d-flex justify-content-center">
            {{#each stories as |story|}}
            {{#unless completed}}
                {{> story-card story}}
            {{/unless}}
            {{/each}}
        </div>
    </div>
</div>