<div class="row mt-5 mx-5">
    <div class="all col border-dark border-right text-center">
        <h1>ALL STORIES</h1>
        <div class="row">
            {{#each stories as |story|}}
            {{#if completed}}
                {{> story-card story}}
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="open col text-center">
        <h1>OPEN STORIES</h1>
        <div class="row">
            {{#each stories as |story|}}
            {{#unless completed}}
                {{> story-card story}}
            {{/unless}}
            {{/each}}
        </div>
    </div>
</div>