<section class='login-wrapper'>
    <div class="form-wrapper">
        <form id='login-form'>
            <div class="form-group">
                <div class="col">
                    <label for="login-name">Username:</label>
                    <input type="text" class='form-control input' id="login-name" placeholder='your username'>
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    <label for="login-pw">Password:</label>
                    <input type="password" class="form-control input" id="login-pw" placeholder='your password'>
                </div>
            </div>
            <div class='button-wrap'>
                <div class="col">
                    <button type='submit' class='btn btn-info button'>Login</button>
                </div>
            </div>
            <div class='button-wrap'>
                <div class="col">
                    <span>Not signed up? <a href='/signup'>Join now!</a></span>
                </div>
            </div>
        </form>
    </div>
</section>

<script src='/javascript/login.js'></script>