<section class='login-wrapper targeted pb-5'>
    <h2 class='login-heading red input-center'>LOGIN</h2>
    <div class="form-wrapper">
        <form id='login-form'>

            <div class="col input-center">
                <label for="login-name" class='input-text'>Username</label>
                <input type="text" class='form-control input input-border' id="login-name">
            </div>

            <div class="col input-center">
                <label for="login-pw" class='input-text'>Password</label>
                <input type="password" class="form-control input input-border" id="login-pw">
            </div>

            <div class="button-wrap">
                <div class='button-wrap'>
                    <div class="col">
                        <button type='submit' class='btn button'>LOGIN</button>
                    </div>
                </div>
                <div class='input-text spacer'>or</div>
                <div class='button-wrap'>
                    <div class="col">
                        <a href='/signup' class='btn button'>CREATE NEW ACCOUNT</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script src='/javascript/login.js'></script>