<div class="container">
    <div class="row d-flex justify-content-center mt-5 mb-2">
        <div class="col-5">
            <h2 class="text-uppercase">Add Story</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <form id='story-form'>
                <div class="form-group row">
                    <label for="story-title" class="col-sm-2 col-form-label">TITLE</label>
                    <div class="col-sm-10">
                        <input class="form-control" id='story-title'>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="story-genre" class="col-sm-2 col-form-label">GENRE</label>
                    <div class="col-sm-10">
                        <select class="form-control custom-select mr-sm-2" id='story-genre'>
                            <option selected>Assign Genre</option>
                            <option value="adventure">Adventure</option>
                            <option value="comedy">Comedy</option>
                            <option value="comic">Comic</option>
                            <option value="fantasy">Fantasy</option>
                            <option value="fiction2">Fiction</option>
                            <option value="historical">Historical</option>
                            <option value="horror">Horror</option>
                            <option value="mystery">Mystery</option>
                            <option value="romance">Romance</option>
                            <option value="sci-fi">Sci-Fi</option>
                            <option value="spooky">Spooky</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="story-text" class="col-sm-2 col-form-label">STORY TEXT</label>
                    <div class="col-sm-10">
                        <textarea id='story-text'></textarea>
                        <button type="submit" class="btn btn-block">CREATE STORY</button>
                    </div>
                </div>
            </form>
        </div>
        {{> need-inspo}}
    </div>
</div>

{{#if loggedIn}}
<script src="/javascript/new-story.js"></script>
{{/if}}