<div class="container">
    <div class="row d-flex justify-content-center mt-5 mb-2">
        <div class="col-5">
            <h2 class="text-uppercase">Add Story</h2>  
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            {{>story-form}}
        </div>
       {{> need-inspo}}
    </div>
</div>

{{#if loggedIn}}
<script src="/javascript/new-story.js"></script>
{{/if}}