<div class="stories row mt-5 pt-3 mx-5 targeted d-flex justify-content-center">
    <div class="open text-center">
        <h1 class="maroon">ALL OPEN STORIES</h1>
        <a href="/" class="btn home-btn mb-3">Return to Homepage</a>

        {{> open-stories }}

    </div>
</div>