<div class="container mt-4">
    <div class="container text-center text-uppercase">
        <h1 class="new-story red">{{story.story_title}}</h1>
        <h4 class="story-author gold">Original Author: {{story.author.username}} </h4>
    </div>
    <div class="container border-top text-left pt-4">
        <p class="gold border-bottom pb-4">
            {{story.story_text}}
        </p>
        {{#each story.chapters}}
        {{>story-chapter}}
        {{/each}}
    </div>
</div>