<section class='signup-wrapper'>
    <h2 class='login-heading red input-center'>SIGNUP</h2>

    <div class="form-wrapper">
        <form id='signup-form'>

            <div class="col input-center">
                <label for="signup-name" class='input-text'>Username</label>
                <input type="text" class='form-control input input-border' id="signup-name">
            </div>

            <div class="col input-center">
                <label for="signup-email" class='input-text'>Email</label>
                <input type="email" class="form-control input input-border" id="signup-email">
            </div>

            <div class="col input-center">
                <label for="signup-pw" class='input-text'>Password</label>
                <input type="password" class="form-control input input-border" id="signup-pw">
            </div>

            <div class="signup-divider"></div>

            <div class="col input-center">
                <label for="signup-title" class='input-text'>Title (optional)</label>
                <input type="text" class='form-control input input-border' id="signup-title">
            </div>

            <div class="col input-center">
                <label for="signup-bio" class='input-text'>Biography (optional)</label>
                <textarea class='form-control input input-border' name='signup-bio' id="signup-bio"></textarea>
            </div>

            <div class='button-wrap'>
                <div class="col">
                    <button type='submit' class='button btn'>CREATE YOUR ACCOUNT</button>
                </div>
            </div>
        </form>
    </div>
</section>

<script src='/javascript/signup.js'></script>