<section class='signup-wrapper'>
    <h2 class='login-heading input-center'>SIGNUP</h2>

    <div class="form-wrapper">
        <form id='signup-form'>

            <div class="col input-center">
                <label for="signup-name" class='input-text'>Username</label>
                <input type="text" class='form-control input input-border' id="signup-name">
            </div>

            <div class="col input-center">
                <label for="signup-email" class='input-text'>Email</label>
                <input type="email" class="form-control input input-border" id="signup-email">
            </div>

            <div class="col input-center">
                <label for="signup-pw" class='input-text'>Password</label>
                <input type="password" class="form-control input input-border" id="signup-pw">
            </div>

            <div class='button-wrap'>
                <div class="col">
                    <button type='submit' class='button btn'>CREATE NEW ACCOUNT</button>
                </div>
            </div>
            {{!-- <div class='button-wrap'>
                <div class="col spacer">
                    <span>Already an author? <a href='/login'>Log in!</a></span>
                </div>
            </div> --}}
        </form>
    </div>
</section>

<script src='/javascript/signup.js'></script>