* {
    font-family: 'Goudy Bookletter 1911', serif;
}

header {
    background-color: rgb(241, 195, 117);
}

.all, .inspo {
    color: #bf9650;
    font-size: 25px;
}

.open {
    color: #790404;
    font-size: 25px;
}

.card {
    color: black;
    font-size: 13px;
    height: 18rem;
    width: 12rem;
    border: none
}

.card-img-top {
    height: 6rem;
    width: 12rem;
}

.btn {
    background-color: #790404;
    color: #8b6c38;
}

ul {
    list-style:none; 
    margin: 0; 
    padding: 0;
    color: #790404;
}

li {
    margin-top: 1rem;
}

li:before { 
    content: '#'; 
    
}

/*
main {
    height: 70vh;
}

a:link {
    text-decoration: none;
}

.signup-wrapper, .login-wrapper, .dashboard {
    margin: 5% 30%;
    border: 0.25px lightgray solid;
    border-radius: 5px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.bio-input {
    width: 100%;
    height: 25vh;
}

.button {
    width: 50%;
}

.button-wrap {
    text-align: center;
    margin-top: 15px;
}

.footer {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    height: 6vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 25spx; */
    /* padding-bottom: 50px;
    border-top: 0.25px solid lightgray;
} */ 

