
.page-container {
    position: relative;
    min-height: 100vh;
    font-family: 'Goudy Bookletter 1911', serif;
}

header {
    background-color: rgb(241, 195, 117);
}

.nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.login-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 25px;
}

.all, .inspo {
    color: #bf9650;
}

.open {
    color: #790404;
}

.card {
    color: black;
    font-size: 13px;
    height: 18rem;
    width: 12rem;
    border: none
}

.card-img-top {
    height: 6rem;
    width: 12rem;
}

.btn {
    background-color: #790404;
    color: #8b6c38;
}

.dashboard {
    color: #bf0808;
}

ul {
    list-style:none; 
    margin: 0; 
    padding: 0;
    color: #790404;
}

li {
    margin-top: 1rem;
}

li:before { 
    content: '#'; 
    
}

.profile {
    color: #bf9650;
    background-color: #790404;
}

textarea {
    width: 100%;
    height: 200px;
}

.new-story{
    color: #790404;
    font-size: 50px;
}

footer {
    background-color: rgb(241, 195, 117);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7rem;            /* Footer height */
} 

/* main {
    height: 70vh;
}

a:link {
    text-decoration: none;
}

.signup-wrapper, .login-wrapper, .dashboard {
    margin: 5% 30%;
    border: 0.25px lightgray solid;
    border-radius: 5px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.bio-input {
    width: 100%;
    height: 25vh;
}

.button {
    width: 50%;
}

.button-wrap {
    text-align: center;
    margin-top: 15px;
}


footer {
    background-color: #bf9650;
    display: flex;
    justify-content: space-evenly;
    height: 6vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 25spx; 
} */